[submodule "openwrt"]
	path = openwrt
	url = git://git.openwrt.org/openwrt.git
[submodule "feeds/packages"]
	path = feeds/packages
	url = https://github.com/openwrt/packages.git
[submodule "feeds/routing"]
	path = feeds/routing
	url = https://github.com/openwrt-routing/packages.git
[submodule "feeds/management"]
	path = feeds/management
	url = https://github.com/openwrt-management/packages.git
[submodule "feeds/fastd"]
	path = feeds/fastd
	url = git://git.metameute.de/lff/pkg_fastd
[submodule "feeds/kolbrich"]
	path = feeds/kolbrich
	url = https://github.com/kevin-olbrich/openwrt-feed.git
